.jumbotron {
  background-color: antiquewhite;
  color: black;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: blanchedalmond;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-league {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-view {
  width: 100%;
}